<style media="screen">

  .numberButton{
    background-color: #5f5f5f;
    color: white;
    border: 1px solid #5f5f5f;
    border-radius:3px;
  }

  .mdl-layout__drawer-button{
    max-height:2.5rem !important;
    height:2.5rem !important;
    min-height:2.5rem !important;
    margin-top: -0.5rem !important;
  }
  .mdl-button{
    /*text-align: left !important;
    padding-left: 50px !important;
    */
  }

</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="max-height:2.5rem !important;height:2.5rem !important; min-height:2.5rem !important;">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" style="margin-top:-1.4rem !important; max-height:2.5rem !important; height:2.5rem !important; min-height:2.5rem !important;">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu "
          for="demo-menu-lower-right">
        <li class="mdl-menu__item" (click)="refresh()"> Refresh <i class="material-icons">update</i> </li>
        <li class="mdl-menu__item" [routerLink]="['/profile']">User profile <i class="material-icons">perm_identity</i> </li>
      </ul>
    </div>
  </header>

  <div class="mdl-layout__drawer mdl-shadow--4dp">
    <span class="mdl-layout-title">QCI - Collect</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="text-align: left !important; padding-left: 50px !important;" [routerLink]="['/formListing']"> <b> <i class="material-icons">store</i> Home </b> </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="text-align: left !important; padding-left: 50px !important;" [routerLink]="['/flaggedFormListing']"> <b> <i class="material-icons">assistant_photo</i> Flag <span *ngIf="flag > 0" class="numberButton"> &nbsp; {{flag}} &nbsp;  </span></b> </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" [routerLink]="['/']" (click)='sync()'  style="text-align: left !important; padding-left: 50px !important;"  >

        <b> <i class="material-icons">sync</i> {{syncStatus}} &nbsp; <span *ngIf="num > 0" class="numberButton" > &nbsp; {{num}} &nbsp;  </span> </b>
        <div *ngIf="sending"  class="load-bar">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="text-align: left !important; padding-left: 50px !important;" style="text-align: left !important; padding-left: 50px !important;" [routerLink]="['/help']"  > <i class="material-icons">security</i> <b> SOS </b> </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="text-align: left !important; padding-left: 50px !important;"  style="text-align: left !important; padding-left: 50px !important;"  (click)="logout()"> <i class="material-icons">lock</i> <b> Logout </b> </a>
    </nav>
  </div>

  <main class="mdl-layout__content commonProp " >

    <router-outlet></router-outlet>

  </main>
</div>
