<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet  "  style=""></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet  demo-card-square mdl-card mdl-shadow--2dp"  style=" height:80vh; text-align:center">
      <br>
      <i class="material-icons" style="font-size: 5rem" >face</i>

      +91 - {{phone}}
    <hr>

    <h4 style="text-align:left" > &nbsp; Change Password  </h4>

    <div style="text-align: center" >

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Old password</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="sample1">
        <label class="mdl-textfield__label" for="sample1">New password</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="sample2">
        <label class="mdl-textfield__label" for="sample2">New password</label>
      </div>

    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)='saveFormReaponce()' >
     <b>Update  <i class="material-icons">send</i></b>
    </button>

  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet  "  style=""></div>
</div>
