<style>

  body {
  display: flex;
  }

  .file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
  }

  .file_input {
  float: left;
  }

  #file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
  }

  .none {
  display: none;
  }

</style>

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--3-col">{{funID(id)}} . {{json.name}}
    <span  *ngIf="json.required" class=" requiredMsg"><b> * </b> </span>
    <span  *ngIf="json.helptext" class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>
  </div>

  <div class="mdl-cell mdl-cell--7-col">

    <span  style="float: right" *ngIf="json.synced" class="blueCloud"> <i class="material-icons" style="cursor: pointer;" (click)="resendJson()" > cloud_upload </i> </span>
    <span  style="float: right" *ngIf="json.notSynced" class="amberCloud">  <i class="material-icons" style="cursor: pointer;" (click)="resendJson()" > cloud_upload </i> </span>
    <span  style="float: right" *ngIf="json.syncWaiting" class="grayCloud">  <i class="material-icons" style="cursor: pointer;" (click)="resendJson()" > cloud_upload </i> </span>

    <div class="file_input_div">
      <div class="file_input">
        <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">attach_file</i>
          <input id="file_input_file" class="none" type="file" (change)="getVal($event);" [accept]=json.fileTypes  [disabled]='disabled' />

        </label>
        {{json.fileName}}
      </div>
    </div>
  </div>

  <span *ngIf='json.errorMsg' class="mdl-chip  margin-top-prop">
      <span class="mdl-chip__text errorMsg"><b> # {{json.errorMsg}} </b> </span>
  </span>

  <span *ngIf='json.flagged' class="mdl-chip  margin-top-prop">
      <span class="mdl-chip__text flagged"><b>  <i class="material-icons">assistant_photo</i> {{json.flagMsg}} </b> </span>
  </span>

  <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>

</div>
