<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <span *ngIf="json.location">
      {{funID(id)}} .
      <span  *ngIf="!waitingFlag">
         Location:    <b> Acc - {{json.location.acc}} meters</b>
        <span class="mdl-chip mdl-chip--deletable" (click)="getLocation()" >
            <span class="mdl-chip__text">Refresh location</span>
            <button type="button" class="mdl-chip__action"><i class="material-icons">location_on</i></button>
        </span>
      </span>
    </span>

    <span *ngIf="waitingFlag" >
      Waiting for location...
    </span>

    <span *ngIf="json.helptext" class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>

    <span *ngIf='json.errorMsg' class="mdl-chip  margin-top-prop">
        <span class="mdl-chip__text errorMsg"><b> # {{json.errorMsg}}</b> </span>
    </span>
    <span *ngIf='json.flagged' class="mdl-chip  margin-top-prop">
        <span class="mdl-chip__text flagged"><b>  <i class="material-icons">assistant_photo</i> {{json.flagMsg}} </b> </span>
    </span>

    <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>

  </div>
</div>
