@import "~styles.scss";

.background-secondary{
  background-color: $accent-color;
  width: 96%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  padding-bottom: 2px;
  padding-top: 7px
}
.mdl-grid{
padding: 0px !important;
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 100%;
}
.demo-card-square > .mdl-card__title {
  color: gray;
  /*background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
}
.formBox{
  margin-top: 3px !important;
}
.formBoxHeight {
  min-height: 84vh;
  max-height: 84vh;
  overflow-y: auto;
}
.sectionBreak{
  margin: auto;
  height:18px;
  text-align: center;
  color: #424242;
  background-color: #ffd740;
  background: #ffd740 !important;
}
.backgroundColorClass{
  background: #ffd740 !important;
}
.finishMsg {
  margin: auto;
  text-align: center;
  color: $primary-color;
}
.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.flag-icon{
}
