@import "~styles.scss";

.graph1{
  height:100%;
  width: 100%;

  // background-image: url("/assets/bg7.jpg");
  // background-position:top;


  // background-image: url("/assets/bg3.jpg");
  // background-position:bottom;

  background-image: url("/assets/bg6.jpg");
  background-position:top;

  // background-image: url("/assets/yellow.jpg");
  // background-position:center;

  text-align: center;
  color: $primary-color;
  // color: $accent-color;

  font-weight: bold;
  position:relative;
  opacity: 0.9;
}
.graph1text{
  font-size: 1.7rem;
  font-weight: 550;
}
.graph1text2{
  padding-top: 1.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px
}
